# JWT
JWT_SECRET_KEY="MsJ4lopn0F1RYnOHaACnKAUHRelzu3TfuVwtuciryZZ"
JWT_EXPIRES_IN=3600

# SQL Database
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_USER="your-db-user"
POSTGRES_PASSWORD="your-db-password"
POSTGRES_DATABASE_NAME=leo_db

# Only these variables below are required for database. The others (POSTGRES_*) above are defined only for readability.
DATABASE_PROVIDER="postgresql"
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DATABASE_NAME}?schema=public"
